<div>
	<%= form_tag centers_path, :method => :get, :format => :json, :id => "centers_search" do %>
	<label style="margin-left: 60px;">Enter your zip code: </label>
	<%= text_field_tag :search, params[:search], :class => 'search-text' %>

	<label>Within: </label>
	<%=select_tag "within", "<option> 5 </option><option> 10 </option><option> 15 </option><option> 20 </option><option> 25 </option><option> 50 </option> ".html_safe%>
	miles
	

    <%= submit_tag "Find day care centers", :name => nil, :class => 'search-button' %>
	
	<% end %>
</div>
<br/><br/>
<div id="centers">
	<%= render 'centers'%>
</div>
	









